<br />
<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="direita">
            <button type="button" class="btn btn-info  btn-rounded" mdbRipple routerLink="/admin/carros/new">Novo</button>
          </div>
          <br />

          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>MARCA</th>
                <th>VALOR</th>
                <th>PROPRIETARIOS</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (carro of lista; track $index) {
              <tr>
                <td>{{carro.id}}</td>
                <td>{{carro.nome}}</td>
                <td>{{carro.marca.nome}}</td>
                <td>R${{carro.valorFIPE}}</td>
                <td>{{carro.proprietarios.length}}</td>
                <td class="direita">
                  <button type="button" class="btn btn-warning  btn-rounded" mdbRipple routerLink="/admin/carros/edit/{{carro.id}}">Edit</button>
                  <button type="button" class="btn btn-danger  btn-rounded" mdbRipple (click)="deletar()">Excluir</button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>