<br />
<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="direita">
            <button type="button" class="btn btn-info  btn-rounded" mdbRipple (click)="new()">Novo</button>
          </div>
          <br />

          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>MARCA</th>
                <th>VALOR</th>
                <th>PROPRIETÁRIOS</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (carro of lista; track $index) {
              <tr>
                <td>{{carro.id}}</td>
                <td>{{carro.nome}}</td>
                <td>{{carro.marca.nome}}</td>
                <td>R${{carro.valorFIPE}}</td>
                <td>{{carro.proprietarios.length}}</td>
                <td class="direita">
                  <button type="button" class="btn btn-warning  btn-rounded" mdbRipple (click)="edit(carro)">Edit</button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger  btn-rounded" mdbRipple (click)="deleteById(carro)">Excluir</button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalCarrosDetails>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <app-carrosdetails [carro]="carroEdit" (retorno)="retornoDetails($event)"></app-carrosdetails>
  </div>
</ng-template>